<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitButton">
                    </form>
                </div>

                <div class="tempinfo">
                    <div class="toplayer">
                        <p id="date">5 Jan</p>
                    </div>
                    <div class="mainlayer">
                        <p id="city_name">Weather Status</p>
                        <div class="middlelayer data_hide">
                            <p id="temp">0<sup>o</sup>C</p>
                            <p id="temp_status"><i class="fas fa-cloud"></i></p>
                        </div>
                    </div>
                </div>
                <a href="/"><button id="bton">GoBack</button></a>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
    <script src="js/main.js"></script>
</body>

</html>